* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Nunito, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  background-color: #f4f7f9;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
